# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Python
__pycache__/
*.pyc
.venv/

# Node.js
node_modules/

# Build artifcats
dist/
build/
out/

# IDE/editor settings
.vscode/
.idea/

# MkDocs build output
site/
